$("#save_brand_title").html("Изменить Бренд");
$("#save_brand_block").html('<a href="#" id="update_save_brand">Сохранить</a>');
$("#brand_name").val("<%=@brand.name%>");

$("#car_model_list").html('<%= escape_javascript(render "car_model_list") %>');
$("#car_model_form").html('<%= escape_javascript(render "car_model_form") %>');

$("#production_year_form").html('<%= escape_javascript(render "production_year_form") %>');
$("#production_year_list").html('<%= escape_javascript(render "production_year_list") %>');

