# encoding: utf-8
<h2>Управление модификациями</h2>

<div class="wrapper">
  <div class="inner">
    <div id="brand_view">
      <%= render 'brands_ajax/index' %>
    </div>
  </div>

  <div class="inner">
    <div id="car_model_view">
      <%= render 'car_models_ajax/index' %>
    </div>
  </div>

  <div class="inner">
    <div id="production_year_view">
      <%= render 'production_years_ajax/index' %>
    </div>
  </div>

</div>
<div class="clear"></div>

<h2>Управление Обслуживаниями</h2>
<div class="wrapper">

  <div class="inner">
    <div id="maintenance_view">
      <%= render 'maintenances_ajax/index' %>
    </div>
  </div>


  <div class="inner">
    <div id="labor_view">
      <%= render 'labors_ajax/index' %>
    </div>
  </div>

  <div class="inner">
    <div id="part_view">
      <%= render 'parts_ajax/index' %>
    </div>
  </div>

  <div class="clear"></div>
  <br>

  <div class="inner">
    <%= render 'existence_parts/form' %>
  </div>

</div>
