# encoding: utf-8
<h2>Управление модификациями</h2>

<div class="wrapper">
  <div class="inner">

    <h3>Бренды</h3>
    <div id="brand_list"><%= render "brand_list" %></div>
    <a href="#" id="add_brand">Добавить</a>
    <a href="#" id="remove_brand">Удалить</a>
    <br />
    <div id="brand_form">
      <%= render 'brand_form' %>
    </div>

  </div>

  <div class="inner">
    <h3>Модели</h3>
    <div id="car_model_list"><%= render "car_model_list" %></div>
    <a href="#" id="add_car_model">Добавить</a>
    <a href="#" id="remove_car_model">Удалить</a>
    <br />
    <div id="car_model_form">
      <%= render 'car_model_form' %>
    </div>

  </div>

  <div class="inner">
    <h3>Годы производства</h3>
    <div id="production_year_list"><%= render "production_year_list" %></div>
    <a href="#" id="add_production_year">Добавить</a>
    <a href="#" id="remove_production_year">Удалить</a>
    <br />
    <div id="production_year_form">
      <%= render 'production_year_form' %>
    </div>

  </div>


</div>
<div class="clear"></div>
<h2>Управление Обслуживаниями</h2>
<div class="wrapper">

  <div class="inner">
    <h3>Обслуживания</h3>
    <div id="maintenance_list"><%= render "maintenance_list" %></div>
    <a href="#" id="add_maintenance">Добавить</a>
    <a href="#" id="remove_maintenance">Удалить</a>
    <br />
    <div id="maintenance_form">
      <%= render 'maintenance_form' %>
    </div>

  </div>


  <div class="inner">
    <h3>Работы</h3>
    <div id="labor_list"><%= render "labor_list" %></div>
    <a href="#" id="add_labor">Добавить</a>
    <a href="#" id="remove_labor">Удалить</a>
    <br />
    <div id="labor_form">
      <%= render 'labor_form' %>
    </div>

  </div>

  <div class="inner">
    <h3>Части</h3>
    <div id="part_list"><%= render "part_list" %></div>
    <a href="#" id="add_part">Добавить</a>
    <a href="#" id="remove_part">Удалить</a>
    <br />
    <div id="part_form">
      <%= render 'part_form' %>
    </div>

  </div>

  <div class="clear"></div>
  <br>

  <div class="inner">
    <h3>Добавить существующую часть</h3>
    <!--<a href="#" class="add_ex_part_form">Добавить существующую часть</a><br>-->
    <label for="search_ex_part">Поиск</label>
    <input type="text" id="search_ex_part" size="20">
    <div id="all_part_list"><%= render "all_part_list" %></div>
    <a href="#" id="add_ex_part">Добавить</a>
  </div>

</div>
