$("#add_brand").text("");

$("#brand_form").html('<%= escape_javascript(render "brand_form") %>');
$("#save_brand_block").append('\n<a href="#" id="cancel_save_brand">Отменить</a>');

$("#car_model_list").html('<%= escape_javascript(render "car_model_list") %>');
$("#car_model_form").html('<%= escape_javascript(render "car_model_form") %>');

$("#production_year_form").html('<%= escape_javascript(render "production_year_form") %>');
$("#production_year_list").html('<%= escape_javascript(render "production_year_list") %>');
