<% if !@error_array.blank? %>
    <h3>Список ошибок возникших при обработке файла:</h3>
    <div class="csv-errors">
        <ul>
            <% @error_array.each do |error| %>
                <li><%= error %></li>
            <% end %>
        </ul>
    </div>
<% end %>

<%= form_for :dump, :url=>{ :controller => "admin", :action => "parse_maintenance_csv"}, :html => { :multipart => true } do |f| -%>
<p>
    <%= f.label :dump_file, "Dump File" %>
    <%#= f.file_field :file %>
        <%= file_field_tag "file" %>
    <%= f.submit "Submit", :disable_with => 'Submiting...' %>
</p>  
<% end -%>