<%= simple_form_for(@production_year) do |f| %>
    <%= f.input :year %>
    <div class="field">
        <%= f.label :car_model_id %><br />
        <%= f.select(:car_model_id, options_from_collection_for_select(CarModel.all, :id, :name),\
              :prompt => "Выберите модель автомобиля")%>
    </div>
  <h3>Maintenances</h3>
  <%= f.simple_fields_for :maintenances do |maintenance| %>
      <%= render 'maintenance_fields', :f => maintenance %>
  <% end %>
  <div class="links">
      <%= link_to_add_association "Добавить maintenance", f, :maintenances %>
  </div>
  <%= f.button :submit %>
<% end %>
