<p id="notice"><%= notice %></p>

<p>
  <b>Год:</b>
  <%= @production_year.year %><br />
  <b>Модель:</b>
  <%= @production_year.car_model.name %>
</p>
<ol>
    <% if !@production_year.maintenances.blank? %>
      <% for maintenance in @production_year.maintenances %>
        <li><%= maintenance.price.to_s + " денег | " + maintenance.description %></li>
      <% end %>
    <% else %>
      <p>Пустовато здесь, однако</p>
    <% end %>
    
</ol>


<%= link_to 'Edit', edit_production_year_path(@production_year) %> |
<%= link_to 'Back', production_years_path %>
