<%= simple_form_for(@maintenance) do |f| %>

  <%= f.association :production_year, :collection => ProductionYear.all.map \
   { |r| [r.edit_header, r.id, r.id] }, :prompt => "Выберите модификацию" %>

  <div class="inputs">
    <%= f.input :description %>
    <%= f.input :mileage %>
    <%= f.input :price %>
  </div>

  <% if !@maintenance.labors.blank? %>
    <h3>Работы</h3>
    <%= f.simple_fields_for :labors do |labor| %>
        <%= render 'labor_fields', :f => labor %>
    <% end %>
  <% end %>
    <div class="links">
        <%= link_to_add_association "Добавить работу", f, :labors %>
    </div>


    <h3>Добавить существующую часть</h3>
    <%= select_tag "existent_parts_ids", options_from_collection_for_select(Part.all, :id, :name) %>
    <a id="add_part" href="#">Добавить часть</a>
    <div id="existent_parts" remote="true"></div>

  <% if !@maintenance.parts.blank? %>
    <h3>Детали</h3>
    <%= f.simple_fields_for :parts do |part| %>
        <%= render 'part_fields', :f => part %>
    <% end %>
  <% end %>
    <div class="links">
        <%= link_to_add_association "Добавить Деталь", f, :parts %>
    </div>

  <div class="actions">
    <%= f.button :submit %>
  </div>
<% end %>
