<p>
  <b>Description:</b>
  <%= @maintenance.description %>
</p>

<p>
  <b>Price:</b>
  <%= @maintenance.price %>
</p>

<% if !@maintenance.production_year_id.blank? %>
    <p>
      <b>Brand:</b>
      <%= @maintenance.production_year.car_model.brand.name %>
    </p>

    <p>
      <b>Car model:</b>
      <%= @maintenance.production_year.car_model.name %>
    </p>

    <p>
      <b>Production year:</b>
      <%= @maintenance.production_year.year %>
    </p>
<% end %>


<%= link_to 'Edit', edit_maintenance_path(@maintenance) %> |
<%= link_to 'Back', maintenances_path %>
