# encoding: utf-8

<div id="estimator-form">
<div class="brand-logo">Brand logo</div>
<%#= params.inspect %>
<% if !params[:brand].blank? %>
<%= "А ты выбрал: " + Brand.find(params[:brand][:id]).name unless params[:brand][:id].empty? %>
<% else %>

<% end %>
<%= form_tag do %>
    <ol class="group">
    <li><%= collection_select(*@brands_select_params) %></li>
    <li><%= collection_select(*@car_models_select_params) %></li>
    <li><%= collection_select(*@production_years_select_params) %></li>
    <li><input id="input-mantance" name="input-mantance"  type="text" /></li>
    <li><%= submit_tag "Отправить", :id => "submit", :name => "submit" %></li>
    </ol>

<% end -%>
<% if !@issues.nil? %>
    <ul>
    <% if !@issues.blank? %>
      <% for issue in @issues %>
        <li><%= issue.description %></li>
      <% end %>
    <% else %>
    <% end %>
    </ul>
<% end %>
</div>

<div id="slider">
<%= image_tag("welcome_screen2.jpg", :alt => "rss feed") %>
</div>


