# encoding: utf-8
<h1>ESTIMATOR</h1>
<%#= params.inspect %>
<% if !params[:brand].blank? %>
<%= "А ты выбрал: " + Brand.find(params[:brand][:id]).name unless params[:brand][:id].empty? %>
<% else %>

<% end %>
<%= form_tag do %>
    <%= collection_select(*@brands_select_params) %>
    <%= collection_select(*@car_models_select_params) %>
    <%= collection_select(*@production_years_select_params) %>
    <% # Пока еще никто ничего не выбрал %>
<%= submit_tag "Отправить", :id => "submit", :name => "submit" %>
<% end -%>
