# encoding: utf-8
<%= form_for(@brand) do |f| %>
    <% if @brand.errors.any? %>
    <div id="error_explanation">
        <h2><%= pluralize(@brand.errors.count, "error") %> мешают сохранению этой марки:</h2>

        <ul>
            <% @brand.errors.full_messages.each do |msg| %>
            <li><%= msg %></li>
            <% end %>
        </ul>
    </div>
    <% end %>
    <div class="field">
        <%= f.label "Название брэнда" %><br />
        <%= f.text_field :name %>
    </div>
        
        <%= f.fields_for :car_models do |builder| %>
            <%= render 'car_models_fields', :f => builder %>

        <% end %>
    
    <div class="actions">
        <%= f.submit "Сохранить" %>
    </div>
<% end %>
