<h1>Listing labors</h1>

<table>
  <tr>
    <th>Модификация</th>
    <th>Name</th>
    <th>Description</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @labors.each do |labor| %>
  <tr>
    <td><%= labor.maintenance.header %></td>
    <td><%= labor.name %></td>
    <td><%= labor.description %></td>
    <td><%= link_to 'Show', labor %></td>
    <td><%= link_to 'Edit', edit_labor_path(labor) %></td>
    <td><%= link_to 'Destroy', labor, confirm: 'Are you sure?', method: :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Labor', new_labor_path %>
