<p id="notice"><%= notice %></p>

<p>
  <b>Name:</b>
  <%= @labor.name %>
</p>

<p>
  <b>Description:</b>
  <%= @labor.description %>
</p>


<%= link_to 'Edit', edit_labor_path(@labor) %> |
<%= link_to 'Back', labors_path %>
