# encoding: utf-8
<%= simple_form_for @car_model do |f| %>
    <div class="field">
        <%= f.label :brand_id %><br />
        <%= f.select(:brand_id, options_from_collection_for_select(Brand.all, :id, :name),\
              :prompt => "Выберите брэнд автомобиля")%>
    </div>
    <%= f.input :name, :label => "Название" %>
    <%= f.input :description, :label => "Описание" %>
    <h3>Годы выпуска</h3>
    <%= f.simple_fields_for :production_years do |production_year| %>
        <%= render 'production_year_fields', :f => production_year %>
    <% end %>
    <div class="links">
        <%= link_to_add_association "добавить год выпуска", f, :production_years %><br />
    </div>
    <%= f.button :submit %>
<% end %>
