# encoding: utf-8
<!DOCTYPE HTML>
<html lang="ru-RU">
<head>
        <meta charset="UTF-8">
        <title>Avtologi</title>
        <%= stylesheet_link_tag    "application" %>
        <%= javascript_include_tag "application" %>
        <%= csrf_meta_tags %>
</head>

<body>



 <div><% flash.each do |name, msg| %>
                            <%= content_tag :div, msg, :id => "flash_#{name}"%>
                 <% end %></div>
                 

<header id="header" class="">
  <div class="wrap header-inner group" >
   <h1 class="logo"><a  href="#">AVTOLOGY</a></h1>
   <div id="top-registr">
   <% if current_user %>
        Зашли как: <%= current_user.email %>
        <%= link_to "Выйти", logout_path %>
        <% if can? :index, :admin %>
        <%= link_to "Админка", admin_path,  %>
        <% end %>
        <% else %>
          <%= link_to "Зарегистрироваться", register_path, :class => "but-registr" %>
          или
                                
         <%= link_to "Войти", login_path, :class => "but-enter" %>
                            <% end %>
   </div>
   <nav>
   <ol id="top-menu" >
   	<li><%= link_to "Калькулятор", estimator_path, :class => "but-enter" %></li>
   	<li><a href="#">Советы</a></li>
   	<li><a href="#">Сервисы</a></li>
   </ol>
   </nav>
  </div>
</header>                 
                 
          
 

     <div id="main-container" class="wrap">
        <%= yield %>
     </div>  

   
    <div id="inline_example1"></div>
    <div id="footer">Copyright</div>
</body>
</html>
